:root {
  --mainClrBlue: #2355BE;
  --mainClrGreen: #169F6D;

  --baseClrDark: #111111;
  --baseClrBgGradient: #ECECEC;
  --baseClrBehindTasks: #D9D9D9;
  --baseClrDanger: #C6362C;

  --inputAndListItemWidth: 300px;
  --inputAndListItemHeight: 20px;

  --disappear: none;
  --disappearCompleted: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
input,
button {
  font-family: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--baseClrBgGradient);
}

.top-left-img {
  max-width: 15%;
  transform: rotateZ(180deg);
}